datasetsGenerator/books/*
!datasetsGenerator/books/.gitkeep 
datasetsGenerator/datasets/*
!datasetsGenerator/datasets/.gitkeep
charCutter/output/*
input/jpg/*
input/pdf/*
chars/*
**/.vscode/
ML/Old_*
polish_1_hd/*
readyDatasets/*
