[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.19.3"
tensorflow = "==1.5"
sklearn = "*"
mysql-connector-python = "*"
keras = "==2.1.6"
pandas = "*"
keras-preprocessing = "*"
pillow = "*"
pylint = "*"
h5py = "==2.10.0"
pyenchant = "*"
sqlalchemy = "*"

[dev-packages]
pylint = "*"
pyinstaller = "*"

[requires]
python_version = "3.6"
